.cores {
    height: 100px;
}
.ball {
    border-radius: 100%;
    border: solid black 1px;
    width: 90px;
    height: 90px;
    display: inline-block;
    margin-left: 30px;
}
p {
    margin-left: 30%;
    font-size: 25px;
}
#reset-game {
    width: 130px;
    height: 30px;
    margin-left: 30%;
}